@model List<alanata_zadanie1.Models.User>
@{
    ViewBag.Title = @TextResources.UserList;
}
<table class="table table-primary table-bordered text-center">
    <thead class="table-dark">
    <tr>
        <td>@TextResources.Name</td>
        <td>@TextResources.Surname</td>
        <td>@TextResources.Email</td>
        <td>@TextResources.Username</td>
        <td>@TextResources.Password</td>
        <td class="p-1">
            <a class="btn btn-sm btn-success" href="@Url.Action("Create")">@TextResources.Create</a>
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        @Html.Partial("ListItem", user)
    }
    </tbody>
</table>