<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container-fluid body-content d-flex flex-column">
    <div class="navbar navbar-primary navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("User evidence", "Index", "User", new { }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </div>
    <div class="flex-fill">
        @RenderBody()
    </div>
    <footer class="mb-2">
        <span>@DateTime.Now.ToString("dd. MM. yyyy") - My ASP.NET Application</span>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>